@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ddc1c1;
}

/* ==============project start============= */

/* ======================================== */

/* =========header section start=========== */
header{
    width: 100%;
    margin-bottom: 1.25rem;
    /* height: 100vh; */
}

.header-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    margin-bottom: 20px;
}
.top-section{
    width: 100%;
  
   display: flex;
   align-items: flex-end;
   padding: 1.25rem 0rem;
}
.top-section h3{
    font-size: 1.5625rem;
}

.bottom-section{
    display: grid;
    grid-template-columns: 1fr 1fr
}

.bottom-section-left{
   padding-top: 5rem;
}
.bottom-section-left h1{
    font-size: 2rem;
}
.bottom-section-left p{
    padding:0.625rem 0rem;
    font-size: 1.2rem;
}
.button-1{
    width: 15.625rem;
    border: 0px;
    padding: 0.9375rem 0.625rem;
    font-size: 1.2rem;
    color: white;
    background-color: #E02C6D;
    font-weight: 600;
    border-radius: 1.25rem;
    cursor: pointer;
}
.bottom-section-left:hover .button-1{
    transform: translateX(100px);
    transition: 2s;
}

.bottom-section-right img{
  
    width: 100%;
    height: 100%;
    background-image: url(images/Circle\ design.svg);
    background-size: 100%;
  
}

/* ==========header section end============ */

/* ======================================== */

/* =============logo container start======= */

main{
    width: 100%;
}
.logo-container{
    width: 75%;
    height: 18vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-top: 0.125rem solid rgba(128, 128, 128, 0.842);
    border-bottom: 0.125rem solid rgba(128, 128, 128, 0.842);
    margin-bottom: 1.875rem;
}
.logo-container div{
    display: flex;
    justify-content: space-around;
}
.logo-container div img{
    width: 20%;
}

/* ==========logo container  end============ */

/* ======================================== */

/* =============popular card start======= */
.center-heading{
    text-align: center;
    padding-bottom: 3.75rem ;
}
.popular-container{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1.25rem;
}
.popular-card{
    background-color: white;
    padding: 0.9375rem;
    border-radius: 10px;
}
.popular-card img{
    width: 100%;
    height: 50%;
}

.popular-card h2{
    font-size: 1.8rem;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.918);
    padding-top: 0.5rem;
}

.popular-card p{
    font-size: 0.875rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.534);
}
.popular-card .price{
    font-size: 1.875rem;
    color:rgba(0, 0, 0, 0.774);
    font-weight: 400;
}
.rating{
    display: flex;
    font-size: 0.625rem;
  
   
}
.rating div:first-child{
   color: rgb(221, 206, 206);
    padding-right: 0.875rem;
    display: flex;
    align-items: center;
}

.rating div:last-child{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.808);
}

.filled{
    color: #f1c40f;
}
 .see-more-btn{
    width: 75%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.button-2{
   
    border: 0px;
    font-size: 1.2rem;
    padding: 10px 0px;
    color:#E02C6D ;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

/* ==========popular card  end============ */

/* ======================================== */

/* ======feature container start======= */

.feature-container{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.feature-box-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature-box-left h3{
    font-weight: 400;
    color: orangered;
}
.feature-box-left h1{
    font-size: 2.5rem;
    padding-bottom: 1.25rem;
}

.feature-box-left p{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.637);
    font-size: 1.0625rem;
    padding-bottom: 1.25rem;
}

.feature-box-right img{
    width: 100%;
}

.button-3{
    width: 9rem;
    text-align: left;
    border: 0px;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.625rem 0px;
    color:#E02C6D ;
}
/* ==========featurse container  end============ */

/* ============================================ */

/* ============footer start==================== */

footer{
    margin-top:1.875rem;
    width: 100%;
    background-color: black;
}
.footer-container{
    width: 70%;
    height: 30vh;
    margin: 0 auto;
}
.footer-box{
    height: 100%;
    color: white;
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-box h3{
    font-size: 25px;
    padding: 10px;
}

.footer-box p{
    font-size: 15px;
    line-height: 30px;
}
.footer-link a .lnk{
    padding: 7px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background-color: #636e72;
    text-decoration: none;
    margin: 7px;
}

/* =============footer end================ */

/* ======================================== */

/* ============responsive for mobile====== */

@media only screen and (max-width: 660px) {
    
    .top-section{
        justify-content: center;
    }

    .bottom-section{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    .bottom-section-left{
        text-align: center;
        order: 2;
    }
    .bottom-section-right{
        text-align: center;
        order: 1;
    }

    .logo-container{
        border: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .popular-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
    .feature-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
    }
}
/* ======================================== */

/* ============responsive for tab====== */
@media only screen and (min-width: 661px) and (max-width: 992px){
    .header-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr;
    }

    .popular-container{
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .feature-container{
        display: flex;
        flex-direction: column;
    }
}